:root {
  --main-bg-color: rgba(255, 255, 255, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: linear-gradient(#dc2424, #4a569d);
  height: 100vh;
}

.container {
  width: 98%;
  min-width: 350px;
  margin: 0.4rem auto;
  height: 415px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--main-bg-color);
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: 100%;
}

.players {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--main-bg-color);
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  height: 23%;
  font-size: 16px;
  padding: 8px;
  background-color: var(--main-bg-color);
  box-shadow: rgba(156, 125, 208, 0.4) 0px 10px 20px,
    rgba(156, 125, 208, 0.4) 0px 6px 6px;
}

.player,
.computer {
  height: 90px;
  width: 120px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.computer-points {
  font-size: 48px;
  order: -1;
}

.player-points {
  font-size: 48px;
}

.players-choices {
  display: flex;
  border-top: 1px solid var(--main-bg-color);
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  background-color: var(--main-bg-color);
}

.players-choices-text {
  margin: 0 4px;
  font-weight: 900;
  text-shadow: 0 2px 1px rgba(156, 125, 208, 0.4),
    -1px 3px 1px rgba(156, 125, 208, 0.4), -2px 5px 1px rgba(156, 125, 208, 0.4);
}

.player-choice,
.computer-choice {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 16px;
  width: 140px;
  height: 120px;
  box-shadow: rgba(156, 125, 208, 0.4) 0px 10px 20px,
    rgba(156, 125, 208, 0.4) 0px 6px 6px;
}

.buttons {
  border-top: 1px solid var(--main-bg-color);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  height: 35%;
  background-color: var(--main-bg-color);
}

.btn {
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  width: 105px;
  height: 100px;
  transition: all 0.3s;
  box-shadow: rgba(156, 125, 208, 0.4) 0px 10px 20px,
    rgba(156, 125, 208, 0.4) 0px 6px 6px;
}

.paper {
  padding: 0 12px;
}

.scissors {
  padding: 8px 8px 0 8px;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 74px;
  padding: 0 16px 0 16px;
  position: relative;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  font-size: 20px;
}

.btn:active {
  transform: translateY(6px);
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.button-29:disabled {
  background-image: none;
  background-color: #b5b9d6;
  color: rgb(230, 230, 230);
  cursor: not-allowed;
}

.result {
  padding: 16px;
  font-size: 32px;
  width: 98%;
  min-width: 350px;
  margin: 0.5rem auto;
  background-color: var(--main-bg-color);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  border-bottom: 1px solid var(--main-bg-color);
  text-align: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.result-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.clear-btn {
  margin-top: 8px;
}

.text-result {
  margin-bottom: 0.8rem;
  font-size: 3rem;
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}

@media (min-width: 450px) {
  .player-choice {
    margin-left: 2rem;
  }
  .computer-choice {
    margin-right: 2rem;
  }

  .btn {
    width: 120px;
  }
}

@media (min-width: 514px) {
  .player-choice {
    margin-left: 3.2rem;
  }
  .computer-choice {
    margin-right: 3.2rem;
  }

  .btn {
    width: 126px;
  }
}

@media (min-width: 546px) {
  .container,
  .result {
    width: 546px;
  }

  .buttons {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .btn {
    width: 120px;
    height: 100px;
  }

  .player-choice {
    margin-left: 3rem;
  }
  .computer-choice {
    margin-right: 3rem;
  }
  .player-choice,
  .computer-choice {
    width: 170px;
    height: 130px;
  }
  .player {
    margin-left: 1.5rem;
  }
  .computer {
    margin-right: 1.5rem;
  }
}

@media (min-width: 750px) {
  .container {
    margin: 2rem auto 0 auto;
    width: 730px;
    height: 500px;
  }
  .result {
    width: 730px;
  }

  .players {
    height: 20%;
  }

  .player,
  .computer {
    height: 100px;
    width: 130px;
  }

  .player img,
  .computer img {
    transition: all 0.6s;
  }

  .player img:hover,
  .computer img:hover {
    transform: rotate(0.5turn);
  }

  .player-points,
  .computer-points {
    font-size: 58px;
  }

  .player-choice,
  .computer-choice {
    width: 230px;
    height: 170px;
    padding: 16px;
  }

  .player-choice {
    margin-left: 5rem;
  }
  .computer-choice {
    margin-right: 5rem;
  }
  
  .btn {
    width: 150px;
    height: 120px;
  }

  .btn:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255);
  }

  .btn:active {
    transform: scale(0.95);
  }

  .clear-btn,
  .result-btn,
  .reset-btn {
    font-size: 28px;
  }
}
